h1, h2, h3 {
    margin: 0;
}

h1 {
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: inherit;
}

div {
    box-sizing: border-box;
}

.ancre {
    display: block;
    position: relative;
    top: -110px;
    visibility: hidden;
}

#contenu {
    max-width: 1250px;
    margin: auto;
    text-align: center;
}

#entete {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background-color: white;
    z-index: 200;
}

#entete-logo {
    display: inline-block;
    height: 80px;
    vertical-align: middle;
}

#entete-menu {
    display: inline-block;
    margin: 0;
}

#entete-menu li {
    display: inline-block;
    text-transform: uppercase;
}

#entete-menu .selectionne {
    box-shadow:inset 0px -10px 0px 0px rgb(60, 224, 199);
}

#entete-langue {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: black;
    background-color: rgb(238, 238, 238);
}

.section {
    padding: 30px 0px;
}

#intro {
    margin-top: 100px;
    background-image: url("../images/nonretina/entete.jpg");
    height: 450px;
    padding-top: 100px;
    text-align: center;
}

#intro button {
    border: 1px solid white;
    background-color: transparent;
    cursor: pointer;
    color: white;
    text-transform: uppercase;
}

#intro h1 {
    color: white;
}

#intro h2 {
    color: white;
    text-transform: uppercase;
}

#intro h3 {
    color: white;
    text-align: center;
}

#entreprise h1 {
    color: rgb(9, 42, 77);
}

#entreprise-contenu {
    display: inline-block;
    position: relative;
    max-width: 900px;
    text-align: left;
}

#entreprise-texte {
    text-align: left;
}

#entreprise-contenu img{
    display: inline-block;
    float: left;
    margin-right: 15px;
}

#entreprise-contenu h2 {
    position: relative;
    display: inline-block;
    left: -45px;
    background-color: rgb(7, 44, 96);
    color: white;
    margin-top: 15px;
    padding: 15px 70px 15px 40px;
    white-space: nowrap;
}

#services {
    background-color: rgb(19, 49, 87);
    color: white;
}

#services-contenu {
    display: inline-block;
    text-align: left;
}

#services-bloc1 {
    display: inline-block;
    color: rgb(94, 203, 208);
    border: 1px solid rgb(94, 203, 208);
    padding: 25px 25px;
    max-width: 440px;
}

#services-bloc2 {
    display: inline-block;
    margin-left: 20px;
    max-width: 400px;
}

#services-bloc2  em {
    color: rgb(94, 203, 208);
    font-style: normal;
}

#services-bloc2 ul {
    padding: 15px;
}

#services-bloc2 li {
    list-style-type: square;
}

#equipe {
    background-color: rgb(238, 238, 238);
    overflow: auto;
}

#equipe h1 {
    color: rgb(6, 27, 70);
}

.equipe-membre {
    display: inline-block;
    background-color: white;
    max-width: 850px;
    text-align: left;
    padding-left: 50px;
}

.equipe-membre h2 {
    position: relative;
    left: -50px;
    display: inline-block;
    background-color: rgb(8, 44, 96);
    color: white;
    margin: 40px 0px 10px;
    padding: 10px 10px 10px 50px;
}

.equipe-membre h3 {
    text-transform: uppercase;
    color: rgb(91, 188, 171);
    margin: 0px 0px 20px;
}

.equipe-membre-desc {
    overflow: auto;
    padding-right: 30px;
    margin-bottom: 35px;
}

.equipe-membre-photo {
    display: inline-block;
    float: right;
    max-width: 290px;
    height: auto;
}

.equipe-membre-ico {
    display: inline-block;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border: 1px solid red;
}

#mc {
    margin-top: 40px;
}

#clients {
    background-image: url("../images/nonretina/clients.jpg");
    height: 330px;
    color: white;
}

#clients .contenu {
    display: inline-block;
    max-width: 550px;
}

#pied {
    height: 40px;
    line-height: 40px;
    color: rgb(23, 35, 47);
}

#pied-langue {
    display: none;
}

@media (max-width: 640px) {
    .section {
        padding: 30px 15px;
    }

    #entete-menu li {
        display: block;
    }
    
    #entete-langue {
        display: none;
    }
    
    #entreprise-contenu{
        text-align: center;
    }
    
    #entreprise-contenu img{
        display: none;
    }
    
    #entreprise-contenu h2 {
        position: static;
        display: inline-block;
    }
    
    #entreprise-texte {
        text-align: left;
    }
    
    #services-contenu {
        text-align: center;
    }

    #services-bloc1 {
        display: inline-block;
        text-align: left;
    }

    #services-bloc2 {
        text-align: left;
    }
    
    .equipe-membre {
        padding: 0;
        text-align: center;
    }
    
    .equipe-membre h2 {
        position: inherit;
        width: 100%;
        height: 50px;
        line-height: 50px;
        padding: 0;
        margin: 0;
        text-align: center;
    }
    
    .equipe-membre-desc {
        text-align: left;
    }
        
    .equipe-membre-photo  {
        display: inline-block;
        float: inherit;
        width: 100%;
    }
    
    #pied-langue {
        display: inline-block;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        color: black;
        background-color: rgb(238, 238, 238);
    }
}