h1, h2, h3 {
    margin: 0;
}

h1 {
    text-transform: uppercase;
}

div {
    box-sizing: border-box;
}

#contenu {
    max-width: 1250px;
    margin: auto;
    text-align: center;
}

#entete {
    height: 100px;
    line-height: 100px;
    display: inline-block;
}

#logo {
    margin-top: 10px;
    height: 80px;
    float: left;
}

#menu {
    display: inline-block;
    margin: 0;
}

#menu li {
    display: inline-block;
    text-transform: uppercase;
}

#langue {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: grey;
}

.section {
    padding: 30px 0px;
}

#intro {
    background-image: url("../images/nonretina/entete.jpg");
    height: 450px;
    padding-top: 100px;
    text-align: center;
}

#intro button {
    border: 1px solid white;
    background-color: transparent;
    cursor: pointer;
    color: white;
    text-transform: uppercase;
}

#intro h1 {
    color: white;
}

#intro h2 {
    color: white;
    text-transform: uppercase;
}

#intro h3 {
    color: white;
    text-align: center;
}

#entreprise h1 {
    color: rgb(9, 42, 77);
}

#entreprise-contenu {
    display: inline-block;
    position: relative;
    max-width: 900px;
    text-align: left;
}
#entreprise-contenu img{
    display: inline-block;
    float: left;
    margin-right: 15px;
}

#entreprise-contenu h2 {
    position: relative;
    display: inline-block;
    left: -45px;
    background-color: rgb(7, 44, 96);
    color: white;
    margin-top: 15px;
    padding: 15px 70px 15px 40px;
    white-space: nowrap;
}

#services {
    background-color: rgb(19, 49, 87);
    color: white;
}

#services-contenu {
    display: inline-block;
    text-align: left;
}

#services-bloc1 {
    display: inline-block;
    color: rgb(94, 203, 208);
    border: 1px solid rgb(94, 203, 208);
    padding: 25px 25px;
    width: 440px;
}

#services-bloc2 {
    display: inline-block;
    margin-left: 20px;
    width: 400px;
}

#services-bloc2  em {
    color: rgb(94, 203, 208);
    font-style: normal;
}

#services-bloc2 ul {
    padding: 15px;
}

#services-bloc2 li {
    list-style-type: square;
}

#equipe {
    background-color: rgb(238, 238, 238);
    overflow: auto;
}

#equipe h1 {
    color: rgb(6, 27, 70);
}

.equipe-membre {
    display: inline-block;
    background-color: white;
    width: 850px;
    text-align: left;
    padding-left: 50px;
}

.equipe-membre h2 {
    position: relative;
    left: -50px;
    display: inline-block;
    background-color: rgb(8, 44, 96);
    color: white;
    margin: 40px 0px 10px;
    padding: 10px 10px 10px 50px;
}

.equipe-membre h3 {
    text-transform: uppercase;
    color: rgb(91, 188, 171);
    margin: 0px 0px 20px;
}

.equipe-membre-desc {
    overflow: auto;
    padding-right: 30px;
    margin-bottom: 35px;
}

.equipe-membre-photo {
    display: inline-block;
    float: right;
    width: 290px;
    height: 300px;
}

.equipe-membre-ico {
    display: inline-block;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border: 1px solid red;
}

#mc {
    margin-top: 40px;
}

#clients {
    background-image: url("../images/nonretina/clients.jpg");
    height: 330px;
    color: white;
}

#clients .contenu {
    display: inline-block;
    width: 550px;
}

#pied {
    height: 40px;
    line-height: 40px;
    color: rgb(23, 35, 47);
}